<div class="list">
  <app-filter (filter)="onFilter($event)"></app-filter>

  <div class="list__order-by">
    <mat-form-field>
      <mat-label>Ordernar por</mat-label>
      <mat-select (selectionChange)="onSelectChange($event)">
        <mat-option *ngFor="let food of orderBy" [value]="food.value">
          {{ food.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Titulo</th>
      <td mat-cell *matCellDef="let element">{{ element.title }}</td>
    </ng-container>
    <ng-container matColumnDef="priority">
      <th mat-header-cell *matHeaderCellDef>Prioridad</th>
      <td mat-cell *matCellDef="let element">{{ element.priority }}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Estado</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-raised-button
          [color]="getStatusColor(element)"
          matBadgePosition="before"
          matBadgeColor="accent"
        >
          {{ getStatusLabel(element.status) }}
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="expirationDate">
      <th mat-header-cell *matHeaderCellDef>Fecha de expiración</th>
      <td mat-cell *matCellDef="let element">{{ element.expirationDate }}</td>
    </ng-container>

    <!-- Actions -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let element; let i = index">
    
        <button
          routerLink="/tarea/edicion/{{ i + 1 }}"
          class="list__table-edit-button"
          mat-mini-fab
          color="accent"
          aria-label="Example icon button with a menu icon"
        >
          <mat-icon>edit</mat-icon>
        </button>

        <button
          (click)="onRemoveTask(i)"
          mat-mini-fab
          color="warn"
          aria-label="Example icon button with a menu icon"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
