/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

$incremento: 10;

@for $i from 1 through 10 {
  .width-#{$i * $incremento} {
    width: #{calc($i * $incremento)}#{"%"};
  }
}

@media screen and (max-width: 720px) {
  $incremento: 10;

  @for $i from 1 through 10 {
    .width-#{$i * $incremento} {
      width: 100%;
      margin: 0 !important;
    }
  }
}

$incremento: 5;

@for $i from 1 through 10 {
  .mr-#{$i * $incremento} {
    margin-right: $i * $incremento + px;
  }

  .ml-#{$i * $incremento} {
    margin-left: $i * $incremento + px;
  }
}
